<div class="main-container">

  <!-- Cím START -->
  <!-- Kanji, japánnév, magyarnév -->
  <div>
    <span [ngStyle]="setKanjiStyle()">
    {{jutsu.tipus.kanji}}
      </span>
    <span class="nev-mezo" [ngStyle]="setHeaderStyle()">
      {{jutsu.japanNev}} // {{jutsu.magyarNev}}
    </span>
  </div>
  <!-- Cím END-->

  <!-- Kép START -->
  <div>

  </div>
  <!-- Kép END -->

  <!-- Infó START -->
  <!-- Tipus, Chakraszint, Besorolás, Kézpecsétek, Használója, Megkötés  -->
  <div>

  </div>
  <!-- Infó END -->

  <!-- Leírás START -->
  <!-- Figyelmeztetés, Leírás, Megjegyzés-->
  <div>

  </div>
  <!-- Leírás END -->


</div>
